// // Placeholder to allow overriding predefined variables smoothly.
 
// // Define defaults for each variable.

$base-font-size:   15px;
$base-font-weight: 350;
$base-line-height: 2.0 ;  // 行宽
$spacing-unit:     10px;
$content-width:    950px;
$on-medium:        10px;
$on-large:         10px;
// $base-font-size:   16px !default;
// $base-font-weight: 400 !default;
// $small-font-size:  $base-font-size * 0.875 !default;
// $base-line-height: 1.5 !default;
// 
// $spacing-unit:     30px !default;
// 
// $table-text-align: left !default;

// // Width of the content area
// $content-width:    800px !default;
// 
// $on-palm:          600px !default;
// $on-laptop:        800px !default;
// 
// $on-medium:        $on-palm !default;
// $on-large:         $on-laptop !default
